.cabecalho .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contato_header {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.sobre .container {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
}

.sobre_card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo .container {
    align-items: baseline;
    display: flex;
    justify-content: space-around;
}

.conteudo_card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.artigo .container {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
}

.artigo_card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsLetter .container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.newsL_conteudo {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.rodape .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}