.rodape_email,
.rodape_tel,
.rodape_endereco {
  text-align: center;
  width: 40%;
  padding: 5rem;
  color: #707070;
}

.rodape_email__titulo,
.rodape_tel__titulo,
.rodape_endereco__titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #464993;
}

.rodape_email a {
  color: #707070;
}
